@import url(./__container/comments__container.css);

.comments {
    display: flex;
    flex-direction: column;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 102px;
}

@media screen and (max-width: 1024px) {
    .comments {
        max-width: 93%;
    }
}

