
.cover__link {
    width: 100%;
    min-height: 594px;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url("./Image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.cover__link:hover {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("./Image.jpg");  
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1024px) {
    .cover__link {
        width: 100%;
        min-height: auto;
    }
}

