.place__title {
    font-size: 72px;
    line-height: 65px;
    margin: 0;
    text-align: left;
    grid-area: title;
    max-width: 457px;
}

@media screen and (max-width:768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 320px;
        display: flex;
        align-items: flex-end;
    }
}

@media screen and (max-width:600px) {
    .place__title {
        min-width: 92%;
        margin-left: auto;
        margin-right: auto;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
    }
}