.comment__quote {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    max-width: 100%;
    margin-bottom: 24px;
    margin-top: 0px;
}

@media screen and (max-width: 1024px) {
    .comment__quote {
        margin-bottom: 16px;
    };
}

@media screen and (max-width:768px) {
    .comment__quote {
        font-size: 16px;
        line-height: 23px;
        order: 1;
        margin: 0;
    }
}
