.video__item_type_kamchatka {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../../../../images/Image_video-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.video__item_type_kamchatka:hover {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../../../../images/Image_video-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
