.place__text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 36px;
    max-width: 484px;
}

.place__text:last-of-type {
    margin-bottom: 0;

} 

@media screen and (max-width:1024px) {
    .place__text {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 768px) {
    .place__text {
        font-size: 16px;
        line-height: 27px;  
        max-width: 352px;      
    }
}

@media screen and (max-width:714px) {
    .place__text {
        max-width: 93%;
        font-size: 16px;
        line-height: 27px;
        margin-left: auto;
        margin-right: auto;
    }
}