.intro__text {
    font-size: 13px;
    line-height: 20px;
    font-style: normal;
    margin-top: 0;
}

@media screen and (max-width: 375px) {
    .intro__text {
        font-size: 12px;
        line-height: 19px;
    }
}