@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__link/cover__link.css);

.cover {
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    min-height: 594px;
    margin-bottom: 160px;

}


@media screen and (max-width: 1024px) {
    .cover {
        max-width: 100%;
        min-height: auto;

    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin-bottom: 102px;
    }
}

@media screen and (max-width: 375px) {
    .cover {
        margin-bottom: 64px;
    }
}