.cover__title {
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin-top: 274px;
    margin-bottom: 134px;
}

@media screen and (max-width:1024px) {
    .cover__title {
        max-width: 94%;
        margin-top: 211px;
        margin-bottom: 71px;
        white-space: pre-line;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        margin-top: 165px;
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 375px) {
    .cover__title {
        margin-top: 104px;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 7px;
        text-align: center;
    }
}

@media screen and (max-width: 325px) {
    .cover__title {
        margin-top: 64px;
    }
}