.video__item_observatory {
    background-image: url(./Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.video__item_observatory:hover {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("./Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
