

.content-title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    max-width: 800px;
    margin-bottom: 48px;
    margin-top: 0px;
}

@media screen and (max-width: 768px) {
    .content-title {
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        max-width: 100%;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 600px) {
    .content-title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    }
} 