.intro__title {
    font-size: 54px;
    line-height: 59px;
    font-weight: 900;
    max-width: 683px;
    margin-top: 0;
    margin-bottom: 48px;
}

@media screen and (max-width: 375px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 32px;
    }
}